extends layout

block content

  p.searchInput
    a.button.border(href=`/books/new`) Create New Book
    div.flex
      form(method='POST' action=`/search`)
        input#searchInput(type="text" name="search" placeholder="Search..")
        input.border(type="submit" value="Search")
  
  table#bookTable
    tr
      th Title
      th Author
      th Genre
      th Year
    each book in books
        tr.bookRow.pagi
          td
            a(href=`/books/${book.id}`) #{book.title}
          td
            a(href=`/books/${book.id}`) #{book.author}
          td
            a(href=`/books/${book.id}`) #{book.genre}
          td
            a(href=`/books/${book.id}`) #{book.year}

  div.pagination-section
    ul.pagination
      - var n = 0;
        while n < numberOfLinks
          - var page = ((n++) +1)
          li
            if query
              a(href=`?query=${query}&page=${page}&limit=${limit}`)= page
            else
              a(href=`?page=${page}&limit=${limit}`)= page

  script(src='/javascripts/app.js')