extends layout

block content

  .fontWhite
    h1= title
      if update
        h2 This book has been updated in the database!
      if create
        h2 This book has been added to the database!
        

      p 
        label(for="title") Title 
        input(type="text" name="title" id="title" disabled value=`${book.title}` )
      p
        label(for="author") Author
        input(type="text" name="author" id="author" disabled value=`${book.author}` )
      p
        label(for="genre") Genre
        input(type="text" name="genre" id="genre" disabled value=`${book.genre}`)
      p
        label(for="year") Year
        input(type="text" name="year" id="year" disabled value=`${book.year}`)

      div
        a.button(href=`/books/${book.id}/edit`) Edit this book

